[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
gunicorn = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
celery = "*"
redis = "*"
python-dotenv = "*"
flask-migrate = "*"
requests = "*"

[requires]
python_version = "3.6.7"
